In [1]:
import pandas as pd
import requests
import zipfile
import io

In [2]:
url = "https://github.com/danielbanafshei01/MN5813/raw/main/online_retail.csv.zip"

zipfile = zipfile.ZipFile(io.BytesIO(requests.get(url).content))
df = pd.read_csv(zipfile.open
                 (zipfile.namelist()[0]))

df.head()
#The data set of customer preference is loaded in and the first 5 rows are displayed

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.isnull().any()
# Displays the columns in our data set and to check if there are any NAN values in any columns

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [4]:
print('Number of duplicated data:')
df.duplicated().sum()
#Checks for duplicated data and returns how many duplicates there are

Number of duplicated data:

5268

In [5]:
df['Description']=df['Description'].fillna('Product Unknown')
df['CustomerID']= df['CustomerID'].fillna(0)
#Nan values in categories have been replaced with placeholders
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce').dt.date
#time of invoice date removed

In [6]:
sorted_descriptions = (
    df.groupby(['StockCode', 'Description'])
      .size()
      .reset_index(name='count')
      .sort_values(['StockCode', 'count'], ascending=[True, False])
      .drop_duplicates(subset=['StockCode'])
      .set_index('StockCode')['Description']
)

df['Description'] = df['StockCode'].map(
    sorted_descriptions.to_dict())

In [7]:
df=df.drop_duplicates()
#duplicates are dropped

In [8]:
stock_code = df['StockCode'].value_counts()
stock_code= stock_code.head(20).sort_values(ascending=False)
top_20_df = stock_code.reset_index()
top_20_df.columns = ['StockCode', 'Amount']
top_20_df

   StockCode  Amount
0     85123A    2301
1      22423    2192
2     85099B    2156
3      47566    1720
4      20725    1626
5      84879    1489
6      22720    1469
7      22197    1468
8      21212    1367
9      22383    1328
10     20727    1323
11     22457    1272
12     23203    1259
13      POST    1256
14     22386    1245
15     22469    1232
16     22960    1221
17     21931    1211
18     22086    1194
19     22411    1192

References: 

ulrikthygepedersen. (2022) Online Retail Dataset [dataset]. Kaggle. Available at: https://www.kaggle.com/datasets/ulrikthygepedersen/online-retail-dataset